hfst-optimized-lookup/autom4te.cache
hfst-optimized-lookup/aclocal.m4
hfst-optimized-lookup/config.log
hfst-optimized-lookup/configure
hfst-optimized-lookup-java/build/net/sf/hfst/ByteArray.class
hfst-optimized-lookup-java/build/net/sf/hfst/FlagDiacriticOperation.class
hfst-optimized-lookup-java/build/net/sf/hfst/FormatException.class
hfst-optimized-lookup-java/build/net/sf/hfst/HfstOptimizedLookup$FlagDiacriticOperator.class
hfst-optimized-lookup-java/build/net/sf/hfst/HfstOptimizedLookup.class
hfst-optimized-lookup-java/build/net/sf/hfst/IndexString.class
hfst-optimized-lookup-java/build/net/sf/hfst/LetterTrie$LetterTrieNode.class
hfst-optimized-lookup-java/build/net/sf/hfst/LetterTrie.class
hfst-optimized-lookup-java/build/net/sf/hfst/NoTokenizationException.class
hfst-optimized-lookup-java/build/net/sf/hfst/Transducer.class
hfst-optimized-lookup-java/build/net/sf/hfst/TransducerAlphabet.class
hfst-optimized-lookup-java/build/net/sf/hfst/TransducerHeader.class
hfst-optimized-lookup-java/build/net/sf/hfst/TransducerStream.class
hfst-optimized-lookup-java/build/net/sf/hfst/UnweightedTransducer$IndexTable.class
hfst-optimized-lookup-java/build/net/sf/hfst/UnweightedTransducer$Transition.class
hfst-optimized-lookup-java/build/net/sf/hfst/UnweightedTransducer$TransitionIndex.class
hfst-optimized-lookup-java/build/net/sf/hfst/UnweightedTransducer$TransitionTable.class
hfst-optimized-lookup-java/build/net/sf/hfst/UnweightedTransducer.class
hfst-optimized-lookup-java/build/net/sf/hfst/WeightedTransducer$IndexTable.class
hfst-optimized-lookup-java/build/net/sf/hfst/WeightedTransducer$Transition.class
hfst-optimized-lookup-java/build/net/sf/hfst/WeightedTransducer$TransitionIndex.class
hfst-optimized-lookup-java/build/net/sf/hfst/WeightedTransducer$TransitionTable.class
hfst-optimized-lookup-java/build/net/sf/hfst/WeightedTransducer.class
hfst-optimized-lookup-java/hfst-ol.jar
hfst-optimized-lookup-java/MANIFEST.MF
